<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
<table>

<!--
  get '/landmarks/:id' do 
    #binding.pry
    @landmark = Landmark.find_by_id(params[:id])
    erb :'/landmarks/show'
  end
-->